﻿<div class="row">&nbsp;</div>
<div class="row">
    <div class="container">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Please enter name" maxlength="50" required>
            </div>
            <div class="form-group">
                <label for="currency">Currency in Numbers</label>
                <input type="number" class="form-control" id="currency" placeholder="Please enter amount" min="1" max="999999999999" step=".01" required>
            </div>

            <div>
                <h4 id="outputName"></h4>
            </div>

            <div>
                <h4 id="outputCurrency"></h4>
            </div>

            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 100px">
    Please see the ReadMe.txt in Docs folder
</div>
<div class="row">
    <a href="~/Docs/nConversion.png" target="_blank"> <img width="300" height="250" src="~/Docs/nConversion.png" /> </a>
</div>
